@charset "utf-8";
/* CSS Document */
*{
	list-style:none;
	margin:0px;
	padding:0px;}
.box{
	width:1020px;
	height:700px;
	margin:0 auto;
	border:1px solid #ccc;
	background:#000;
	position:relative;}
img{
	width:500px;
	position:absolute;
	left:20px;
	top:30px;}
ul{
	width: 500px;
	height: 300px;
	position: absolute;
	right:17px;
	top: 5px;
	background: #000;
}
li{
	width:400px;
	height:115px;
	color:#FFF;
	font-size:24px;
	margin-left:30px;}
p{
	width:400px;
	padding-right:0px;
	float:right;
	color:#FFF;
	line-height:1.8em;}
video{
	width:500px;
	margin-top:400px;
	margin-left:10px;}
a{
	text-decoration:none;}
